.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store

__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/

obi/build/
obi/obi.egg-info/

obi.egg-info/*

scientificproposal_obisdk_repoplatformintegration.egg-info/*
build/*

examples/blueetl_example/analysis_output