*.egg-info
**/__pycache__/**
**/build/*
.DS_Store
.idea
**/analysis_output
venv/
.venv/
temp/
logs/
*/arm64/
**/arm64/
examples/new_node_sets.json
examples/node_sets.json
dist/*
.pypirc
pip-audit-output.json
*~
examples/data/blueetl_data/output/
/requirements.txt
pip-audit-output.json
coverage.xml
examples/K_extracellular/toy_example_recording/
examples/K_extracellular/preprocessing_results/
examples/K_extracellular/spikesort_results/
examples/K_extracellular/postprocessing_results/
examples/K_extracellular/curation_results/
